biopython @ file:///home/conda/feedstock_root/build_artifacts/biopython_1606144922922/work
certifi==2020.12.5
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1605566715892/work
cycler==0.10.0
decorator==4.4.2
GridDataFormats==0.5.0
gsd @ file:///home/conda/feedstock_root/build_artifacts/gsd_1605120292764/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1607956439537/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1604322295622/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1605180228501/work
MDAnalysis @ file:///home/conda/feedstock_root/build_artifacts/mdanalysis_1604270717461/work
mmtf-python==1.1.2
msgpack @ file:///tmp/build/80754af9/msgpack-python_1607965822683/work
netCDF4 @ file:///home/conda/feedstock_root/build_artifacts/netcdf4_1588329187916/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1604945996350/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
pandas==1.0.1
patsy==0.5.1
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1604748700719/work
plotly @ file:///tmp/build/80754af9/plotly_1607536586307/work
pyparsing==2.4.7
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1604321279890/work
retrying==1.3.3
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1605985735074/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1604304772019/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-base_1604238753550/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1604226979839/work
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1604105045397/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1607145891039/work
